.wrap {
    background: #ccc;
    max-width: 1000px;
    width: 100%;
    padding: 20px
}

nav {
    position: relative;
    a {
        display: inline-block;
        vertical-align: middle;
        font-family: Arial;
        font-size: 20px;
        color: #000;
        text-decoration: none;
        margin-right: 100px;
        &.more {
            display: none;
        }
    }
    .nav-overflow {
        display: none;
    }
    &.menu-overflow {
        .nav-primary a.more {
            display: inline-block;
        }
    }
    &.show-nav {
        .nav-overflow {
            display: block;
            position: absolute;
            top: 80px;
            right: 0;
            a {
                display: block;
            }
        }
    }
    @media (min-width: 480px) {
        .collapsed-link {
            display: none;
        }
    }
}